<!-- <div fxLayoutAlign="start" fxFlexFill class="login" fxLayoutGap="20px">
  <mat-card fxFlex="35">
     <mat-toolbar color="primary">Login Details</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
      <mat-form-field>
        <input matInput placeholder="Email" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </mat-card>
  <mat-divider [vertical]="true" fxLayoutGap="20px"></mat-divider>
  <img src="assets/images/events.png">
</div> -->

<router-outlet></router-outlet>