<div class="body" fxLayout="column" fxFill fxLayoutGap="7px" fxLayoutAlign="stretch">
    <div class="header" fxLayout="row" fxFlex="25%">
    </div>
    <div fxLayout="row" fxFlex="50%">
        <div class="sidebar" fxLayout="column" fxFlex="50" fxLayoutGap="20px" >
          <div class="sidebar-f">facebook </div>
          <div>Facebook helps you connect and share with the people in your life.</div>
        </div>
        <div class="content" fxLayout="column" fxLayoutAlign="none" fxFlex="30" fxLayoutGap="20px">
            <mat-card class="content-c">
               <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
                 <mat-form-field appearance="outline">
                   <input matInput placeholder="Email address and Phone number" required>
                 </mat-form-field>
                 <mat-form-field appearance="outline">
                   <input matInput type="password" placeholder="Password" required>
                 </mat-form-field>
                    <button mat-raised-button color="primary" type="submit">Log In</button>
                <mat-hint class="content-c-t">Forgot your password?</mat-hint>
                <div>
                  <mat-divider></mat-divider>
                </div>  
                <div class="content-c-t-b">
                    <button mat-raised-button type="submit"><nav><a routerLink="/signup">Create New Account</a></nav></button>
                </div>  
               </form>
             </mat-card>
             <div class="content-c-t-b-txt"><span style="color: #000000; font-size: 15px;font-weight: 600;">Create a Page</span> for a celebrity,band or business</div>
        </div>
    </div>
    <div class="footer" fxLayout="row" fxFlex="25%">    
    </div>
    </div>