<div class="body" fxLayout="column" fxFill fxLayoutGap="7px" fxLayoutAlign="stretch">
    <div class="header" fxLayout="row" fxFlex="25">
    </div>
    <div fxLayout="row">
        <div class="sidebar" fxLayout="column" fxFlex="50" fxLayoutGap="20px" >
          <div class="sidebar-f">facebook </div>
          <div>facebook helps you connect and share with people</div>
        </div>
        <div class="content" fxLayout="column" fxLayoutAlign="none" fxFlex="35" fxLayoutGap="20px">
            <mat-card>
               <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
                 <mat-form-field appearance="outline">
                   <input matInput placeholder="Email" required>
                 </mat-form-field>
                 <mat-form-field appearance="outline">
                   <input matInput type="password" placeholder="Password" required>
                 </mat-form-field>
                 <div>
                    <button mat-raised-button color="primary" type="submit">Login</button>
                 </div>
                 <div [style.text-align]="'center'"><mat-hint>Forgot your password?</mat-hint>
                    <mat-divider></mat-divider>
                </div>
                <div>
                    <button mat-raised-button color="primary" type="submit">Create New Account</button>
                </div>  
               </form>
             </mat-card>
        </div>
    </div>
    <div class="footer" fxLayout="row" fxFlex="25">
        
    </div>
    </div>