.f
    width: 100%
    height: 100%
    font-family: poppins
    background-color: #eeeeee
    padding: 0px
    margin: 0px
    &-h
        // padding: 65px
        &-s
            font-size: 20px
            &-t
                font-size: 60px
                font-weight: 800
                color: #1877f2
                &-c
                    padding: 0px
                    &-card
                          box-shadow: 1px 1px 8px 8px #e0dbdb
                          &-b
                             margin-bottom: 15px
                             background-color: #1877f2
                             &-txt
                                text-align: center
                                color: #445eee
                                margin-bottom: 20px
                                &-btn
                                    background-color: #00ff00
                                    align-items: center
                                    justify-content: center
                                    margin: 15px 25px 0px 100px
                                    &-tx
                                        text-align: center
                                        &-txts
                                            color: #000000
                                            font-size: 15px
                                            font-weight: 800
                                          



        