<div class="body" fxLayout="column"  fxFlexFill>
    <div class="header" fxLayout="row" fxFlex="25%" fxLayoutAlign="space-around" fxLayoutGap="5px">
        <div class="header-t">Instagram</div>
        <div>
        <input type="search" placeholder="Search">
        </div>
        <div fxLayoutGap="15px">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon">message</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon">share</mat-icon>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="content" fxLayout="row" fxFlex="35%" fxLayoutGap="90px">
        <div fxLayout="column" class="content-p">

        </div>
        <div fxLayout="column" class="content-p-d">
         <h1>virat.kohli</h1>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="post" fxLayout="row" fxFlex="40%">
        <div fxLayout="row">
<h3>POSTS</h3>
        </div>
        <div fxLayout="row">
            
        </div>
    </div>
</div>