<div class="i" fxLayout="column" fxFlexFill>
    <div class="i-h" fxLayout="row" fxFlex="25%" fxLayoutAlign="space-around" fxLayoutGap="5px">
        <div class="i-h-t">Instagram</div>
        <div>
            <input matInput placeholder="Search">
        </div>
        <div fxLayoutGap="15px">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon">message</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon">share</mat-icon>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="i-h-t-c" fxLayout="row" fxFlex="35%" fxLayoutGap="90px">
        <div fxLayout="column" class="i-h-t-c-p">

        </div>
        <div fxLayout="column" fxLayoutAlign="space-around" fxLayoutAlign="space-evenly">
            <div fxLayout="row" class="i-h-t-c-p-d" fxLayoutGap="15px">
                <h1>virat.kohli</h1>
                <button mat-raised-button color="primary" type="submit">Fallow</button>
                <select matNativeControl>
                    <option value=""></option>
                </select>
                <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
            </div>
            <div fxLayout="row" fxLayoutGap="25px">
                <div>1,100posts</div>
                <div>100m followers</div>
                <div>200 following</div>
            </div>
            <div fxLayout="column" fxLayoutGap="5px">
                <h3>Virat.Kohli</h3>
                <div>Carpediem!</div>
                <div class="i-h-t-c-p-d-tc">@one8world</div>
            </div>
            <div fxLayout="row">
                <div>Followed by some members</div>
            </div>
        </div>
    </div>
    <mat-divider class="i-h-t-c-p-d-tc-di" ></mat-divider>
    <div class="post" class="i-h-t-c-p-d-tc-di-post"  fxLayout="column" fxFlex="40%">
        <div fxLayout="row" fxLayoutGap="75px" class="i-h-t-c-p-d-tc-di-post-txt"  >
            <h3>POSTS</h3>
            <h3>REELS</h3>
            <h3>IGTV</h3>
            <h3>TAGGED</h3>
        </div>
        <div fxLayout="row" fxLayoutGap="25px" class="i-h-t-c-p-d-tc-di-post-txt-cards" >
            <div class="i-h-t-c-p-d-tc-di-post-txt-cards-box"></div>
            <div class="i-h-t-c-p-d-tc-di-post-txt-cards-box"></div>
            <div class="i-h-t-c-p-d-tc-di-post-txt-cards-box"></div>
        </div>
    </div>
</div>